setuptools

# Data manipulation and analysis
pandas
numpy

# Visualization
matplotlib
seaborn
plotly
qgrid
ipywidgets


# Machine learning
scikit-learn
statsmodels

# Data preprocessing
scipy
category_encoders
